[Unit]
Description=Niri Window Activity Monitor
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=exec
ExecStart=/home/bczhc/bin/scripts/monitor-niri-window-activity
Restart=on-failure

[Install]
WantedBy=graphical-session.target
