[commit]
	gpgSign = true
[user]
	signingkey = 7031A36018C3E82E259B628640485E2ADED49718
	name = Zhai Can
	email = bczhc0@126.com
[safe]
	directory = /mnt/hdd/backup/zhc/diary
	directory = /mnt/world-backup/world
	directory = /mnt/smb/coll-last/open-source/linux
	directory = *
[core]
	quotePath = false
	autocrlf = input
[alias]
	s = status
	c = checkout
	b = branch
    d = diff
    l = log
    cl = clone
[pull]
	rebase = false
[cinnabar]
	version-check = 1734170947
[init]
	defaultBranch = master
