binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+D { spawn "dms" "ipc" "call" "spotlight" "toggle"; }

    Mod+Shift+U { spawn "rofi" "-show" "calc"; }

    Mod+V { spawn "bash" "-c" "cliphist list | rofi -dmenu -display-columns 2 | cliphist decode | wl-copy"; }

    Mod+Return { spawn "alacritty"; }
    //Mod+Return { spawn "alacritty-graphics"; }
    //Mod+Return { spawn "xfce4-terminal"; }
    Mod+T { spawn "alacritty"; }

    Mod+Shift+Q { close-window; }

    Mod+H     { focus-column-left; }
    Mod+L     { focus-column-right; }
    Mod+K     { focus-window-up; }
    Mod+J     { focus-window-down; }

    Mod+Q     { focus-column-left; }
    Mod+E     { focus-column-right; }

    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }

    Alt+grave { focus-window-down-or-top; }

    Mod+Ctrl+H { spawn-sh "$HOMESCRIPT_DIR/niri/pan-view left"; }
    Mod+Ctrl+L { spawn-sh "$HOMESCRIPT_DIR/niri/pan-view right"; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    // Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+Ctrl+F { maximize-window-to-edges; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+S { spawn "my-screenshot-niri"; }
    Mod+Shift+S { spawn-sh "my-screenshot-niri --area"; }
    //Mod+Shift+S { spawn-sh "niri msg action screenshot"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Example media keys mapping using playerctl.
    // This will work with any MPRIS-enabled media player.
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    // Example brightness key mappings for brightnessctl.
    // You can use regular spawn with multiple arguments too (to avoid going through "sh"),
    // but you need to manually put each argument in separate "" quotes.
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+Tab repeat=false { toggle-overview; }
    
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+Shift+Space { toggle-window-floating; }
    Mod+Ctrl+Space { switch-focus-between-floating-and-tiling; }

    //Mod+M              { focus-workspace-down; }
    //Mod+N              { focus-workspace-up; }
    // Mod+U              { focus-workspace-down; }
    // Mod+I              { focus-workspace-up; }
    Mod+N { spawn-sh "$HOMESCRIPT_DIR/niri/focus-workspace -1"; }
    Mod+M { spawn-sh "$HOMESCRIPT_DIR/niri/focus-workspace 1"; }
    Mod+Shift+M         { move-column-to-workspace-down; }
    Mod+Shift+N         { move-column-to-workspace-up; }
    Mod+Ctrl+N { spawn-sh "$HOMESCRIPT_DIR/niri/insert-to-new-workspace 0 move"; }
    Mod+Ctrl+M { spawn-sh "$HOMESCRIPT_DIR/niri/insert-to-new-workspace 1 move"; }

    Mod+C { center-column; }

    Mod+Shift+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+Shift+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+WheelScrollDown      { focus-column-right; }
    Mod+WheelScrollUp        { focus-column-left; }

    //Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    //Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
    //Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    //Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+W { spawn "~/bin/scripts/niri/toggle-floating-terminal"; }

    Mod+R { switch-preset-column-width; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    // Mod+Shift+P { power-off-monitors; }
    // Due to https://github.com/niri-wm/niri/discussions/3691, use this
    // workaround below.
    //Mod+Shift+P { spawn-sh "/home/bczhc/bin/scripts/niri/power-off-monitors-dms-issue-workaround"; }
    // 20260427 update: https://github.com/niri-wm/niri/pull/3910 fixes this somehow.
    Mod+Shift+P { power-off-monitors; }

    // Mangohud global hotkey
    Mod+F11 { spawn-sh "/home/bczhc/bin/scripts/manage-mangohud refresh"; }
    Mod+F12 { spawn-sh "/home/bczhc/bin/scripts/manage-mangohud toggle"; }
    
    // GPU Screen Recorder hotkey
    Mod+F10 { spawn-sh "gsr-ui-cli toggle-record"; }
    Mod+F9 { spawn-sh "gsr-ui-cli toggle-pause"; }    

    Mod+A { spawn-sh "$HOMESCRIPT_DIR/niri/set-this-and-right-50-50"; }
    Mod+Shift+A { spawn-sh "$HOMESCRIPT_DIR/niri/set-this-and-right-100-100"; }

    Mod+Shift+W { toggle-column-tabbed-display; }
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Period { expel-window-from-column; }
    Mod+Comma { consume-window-into-column; }

    // cursor zoom
    Mod+Alt+WheelScrollUp   { set-zoom-level "+0.3"; }
    Mod+Alt+WheelScrollDown { set-zoom-level "-0.3"; }
    Mod+Z { set-zoom-level "1.0"; }
    Mod+Shift+Z { toggle-zoom-lock; } // locks focal center, will also make it lock level

    Mod+Shift+E { spawn "dms" "ipc" "call" "spotlight" "toggleQuery" ":e "; }
    Mod+grave { spawn "dms" "ipc" "call" "spotlight" "toggleQuery" "!"; }
    Mod+Delete { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    //Mod+Ctrl+L { spawn "dms" "ipc" "call" "lock" "lock"; } // buggy

    Alt+Z { spawn-sh "$HOMESCRIPT_DIR/niri/toggle-gsr-ui"; }

    //Mod+F1 { spawn-sh "touch /tmp/layout-locked"; }
    //Mod+F2 { spawn-sh "rm /tmp/layout-locked || true"; }
    Mod+F1 { spawn-sh "niri msg action toggle-view-lock"; }
}
