window-rule {
    match app-id="^float-alacritty$"
    open-floating true
    default-column-width { proportion 0.7; }
    default-window-height { proportion 0.8; }
    opacity 0.8
    
    /-background-effect {
        xray false
        blur true
    }
}

window-rule {
    match app-id="^[aA]lacritty$"
    opacity 0.8
    open-floating false

    background-effect {
        blur true
        xray true
    }
}

// Mathematica
/-window-rule {
    match title="^Welcome to Wolfram Mathematica$"
    open-floating true
}

// Mathematica starting window
window-rule {
    match title="^Mathematica$"
    open-floating true
    focus-ring { off; }
}

// Windows to be floating
window-rule {
    // === Thunar ===
    match app-id=r#"[tT]hunar"# title=r#"^Rename.*$"#
    match app-id=r#"[tT]hunar"# title=r#"^.*- Properties$"#
    match app-id=r#"[tT]hunar"# title=r#"^File Operation Progress.*$"#

    // === Inkscape ===
    match app-id=r#"org.inkscape.Inkscape"# title=r#"^.*[iI]mport.*$"#
    match app-id=r#"org.inkscape.Inkscape"# title=r#"^SVG Input.*$"#

    match app-id=r#"[dD]arktable"# title=r#"^[dD]arktable starting$"#
    match title=r#"Tiny Glade"#
    match app-id=r#"ristretto"#
    match app-id=r#"QQ"#
    match app-id=r#"xdg-desktop-portal-gtk"# title=r#"^Open.*$"#
    match app-id=r#"yad"#
    match title=r#"^Export.*$"#
    match title=r#"^Qalculate.*$"#
    match title=r#"^winit window$"#
    match title=r#"^iwgtk$"#
    match title=r#"^xeyes$"#
    match title="^Save [aA]s"
    match title="^Open"

    open-floating true
}

// WPS 处理
window-rule {
    match app-id="^wps$" title="^wps$"
    open-focused false
    open-floating true
    tiled-state false

}

// Steam
window-rule {
    match app-id=r#"^[sS]team$"#
    exclude title=r#"^[sS]team$"#

    open-floating true
    //open-fullscreen true
}

// GPU Screen Recorder UI (Shadowplay like)
window-rule {
    match app-id="^gsr-ui$"

    open-floating true
    open-fullscreen false
}

window-rule {
    match title="Clash Verge"
    match app-id=r#"clash-verge"#

    open-fullscreen false
    open-floating true
}

window-rule {
    match title="Blender 渲染"

    open-floating true
}
/-window-rule {
    match app-id="gtk"

    //open-floating false
    tiled-state false
}

// GPU Screen Recorder GTK workaround
// See: https://github.com/niri-wm/niri/issues/3778
window-rule {
    match app-id="com.dec05eba.gpu_screen_recorder"
    open-floating true
    tiled-state false
}

window-rule {
    //match title="many_sprites"
    //match app-id="^palworld-win64-shipping.exe$"
}

window-rule {
    match app-id="firefox"

     /-background-effect {
        xray true
        blur true
        noise 0.05
        saturation 3
    }

    /-popups {
        opacity 0.9
        geometry-corner-radius 15

        background-effect {
            xray true
            blur true
            noise 0.05
            saturation 3
        }
    }
}

window-rule {
}


/// LAYER RULES

/-layer-rule {
    match namespace="^quickshell"

    background-effect {
        blur true
        xray false
    }
}

layer-rule {
    match layer="top"
    match layer="overlay"

    background-effect {
        xray false
    }
}
